
@{
    ViewBag.Title = "CreateProject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Proje Girişi</h2>

<label>Proje Başlığı</label>
<input type="text" class="form-control" style="border:solid" />
<br />
<label>Proje Görsel Linki</label>
<input type="text" class="form-control" style="border:solid" />
<br />
<label>Github Linki</label>
<input type="text" style="border:solid"/>
<br />
<label>Açıklama</label>
<textarea rows="5" class="form-control" style="border:solid"></textarea>
<br />