@model List<MeyawoPortfolio.Models.TblProject>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Proje Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>Proje ID</th>
        <th>Proje Başlığı</th>
        <th>Proje Kategorisi</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Github Linki</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProjectID</td>
            <td>@item.Title</td>
            <td>@item.TblCategory.CategoryName</td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
            <td><a href="#" class="btn btn-success">Güncelle</a></td>
            <td><a href="#" class="btn btn-dark">Github'da Aç</a></td>
        </tr>
    }
</table>
<a href="#" class="btn btn-primary">Yeni Proje Girişi</a>