
@{
    Layout = null;
}

<h3>Merhaba Meyawo</h3>
<h4>Merhaba Dünya</h4>
<h5>Selamlar</h5>

<p>Nasılsın</p>

<div style="background-color:#26d4da">Burası bir divdir</div>

<hr />

<div style="background-color:indianred">Burası 2.divdir</div>

<br />

<div style="background-color:yellowgreen">Burası 3.divdir</div>
<br />
<a href="http://www.linkedin.com">Linkedin</a>
<a href="http://www.google.com">Google</a>
<a href="/Category/Index2">Index2</a>