@model List<MeyawoPortfolio.Models.TblContact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Gelen Mesajlar Sayfası</h2>

<table class="table table-bordered">
    <tr>
        <th>Mesaj Id</th>
        <th>Gönderen</th>
        <th>Kategori</th>
        <th>Tarih</th>
        <th>Mesajı Aç</th>
        <th>Mesajı Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ContactID</td>
            <td>@item.NameSurname</td>
            <td>@item.MessageCategory</td>
            <td>@item.SendDate</td>
            <td><a href="#" class="btn btn-warning">Mesajı Aç</a></td>
            <td><a href="#" class="btn btn-danger">Mesajı Sil</a></td>
        </tr>
    }
</table>